PORT=3000
DB_SERVER=A
DB_INSTANCE=SQLEXPRESS
DB_DATABASE=Test
DB_ODBC_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
ADMIN_TABLE=Admins
ADMIN_ID_COLUMN=AdminID
ADMIN_PASSWORD_COLUMN=Password
USER_TABLE=Users
USER_ID_COLUMN=UserID
USER_PASSWORD_COLUMN=Password
DEFAULT_ADMIN_ID=admin
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_USER_ID=user
DEFAULT_USER_PASSWORD=user123
SUPER_ADMIN_ID=superadmin
SUPER_ADMIN_PASSWORD=super123
# Optional: set a pre-hashed super admin password and leave SUPER_ADMIN_PASSWORD blank.
SUPER_ADMIN_PASSWORD_HASH=
SUPER_ADMIN_TOKEN_SECRET=change-this-super-admin-token-secret
MAX_LOGIN_ATTEMPTS=5
LOGIN_LOCKOUT_DURATION_MS=900000
